@import "@styles/variables.scss";

$option-padding: 5px 8px;
$option-background: #F8F9FA;
$choice-border: 0.5px solid #DFE2E4;

.dropdown{
    cursor: pointer;

    list-style: none;

    color: $grey-color;

    font-family: $main-font-family;
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;

    &__closed{
        border: $choice-border;
        border-radius: 12px;
    }

    &__opened{
        border: $choice-border;
        border-radius: 12px 12px 0 0;
    }

    &_choice{
        padding: $option-padding;

        background: $option-background;
        border: $choice-border;
    }

    &_option{
        padding: $option-padding;
        
        background: $option-background;
        border: solid #DFE2E4;
        border-width: 0px 0.5px 0.5px 0.5px;
    }
}