@import "styles/variables.scss";

$option-padding: 5px 8px;

.dropdown {
  cursor: pointer;

  list-style: none;

  position: relative;

  color: $grey-color;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;

  &__closed {
    border: $default-button-border;
    border-radius: 12px;
    height: fit-content;
    transition: height 1s linear;
  }

  &__opened {
    border: $default-button-border;
    border-radius: 12px 12px 0 0;
    height: fit-content;
    transition: height 1s linear;
  }

  &_choice {
    padding: $option-padding;

    min-width: 71px;

    background: $default-button-background;
    border: $default-button-border;
  }

  &_option {
    padding: $option-padding;

    background: $default-button-background;
    border: solid #dfe2e4;
    border-width: 0px 0.5px 0.5px 0.5px;
  }

  &_options_container {
    position: absolute;

    animation: appear 0.5s linear;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}