@import "@config/variables.scss";

.paginator{
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 0px;

    display:flex;
    justify-content: space-between;

    font-family: $main-font-family;

    &_li{
        cursor: pointer;
        list-style: none;

        padding: 0px 2px;

        &_active{
            box-sizing: border-box;
            color: #0063F5;
            border-bottom: 2px solid #0063F5;
            // border: 2px solid  #0063F5;
            border-radius: 2px;
        }
    }
}