@import "styles/variables.scss";

.chart {
  margin-top: 18px;

  &_line {
    padding-left: 16px;
    padding-right: 16px;

    height: 335px;
  }

  &_buttons {
    margin-top: 26px;

    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    justify-content: space-around;

    &_button {
      padding: 6px 10px;

      color: $default-button-color;

      background: $default-button-background;
      border: $default-button-border;
      border-radius: 20px;

      &__clicked {
        padding: 6px 10px;

        color: $button-clicked-color;

        background: $button-clicked-background;
        border: $button-clicked-border;
        border-radius: 20px;

        transition-property: color, background, border;
        transition-duration: 0.5s;
        transition-timing-function: linear;
      }
    }
  }
}
