@import '@config/variables.scss';

.market{
    padding-top: 32px;
    padding-bottom: 32px;
}

.listLine{
    margin: 0px;
    height:0px;
    background-color: #DFE2E4;
    border: 1px solid #DFE2E4;
}