@import "@config/variables.scss";

.market-change{
    margin-left: 16px;

    display:flex;
    align-items: center;

    font-family: $main-font-family;
    font-size: 20px;
    font-weight: 500;
}

.market-change_trend{
    margin-right: 3px;
}

.enable-search{
    margin-left: auto;
    margin-right:23px;
}

.market-change-period{
    margin-top:4px;
    margin-left: 16px;

    color: $grey-color;

    font-family: $main-font-family;
    font-size: 12px;
    font-weight: 450;
}