@import "styles/variables.scss";

.market_change {
  margin-left: 16px;

  display: flex;
  align-items: center;

  font-family: $main-font-family;
  font-size: 20px;
  font-weight: 500;

  &_trend {
    margin-right: 3px;
  }

  &_periodAndShowCharts {
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;

    display: flex;
    justify-content: space-between;
  }

  &_period {
    color: $grey-color;

    font-family: $main-font-family;
    font-size: 12px;
    font-weight: 450;
  }

  &_showCharts {
    cursor: pointer;

    padding: 5px 8px;

    background: $default-button-background;
    border: $default-button-border;
    border-radius: 12px;

    color: $grey-color;

    font-family: $main-font-family;
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
  }
}

.enableSearch {
  margin-left: auto;
  margin-right: 23px;
}
