$white-color: #ffffff;
$black-color: #212529;
$grey-color: #6c757d;

$default-button-color: #6c757d;
$default-button-background: #f8f9fa;
$default-button-border: 0.5px solid #dfe2e4;
$button-clicked-color: #0063f5;
$button-clicked-background: #ecf4ff;
$button-clicked-border: 0.5px solid #0063f5;


$main-font-family: "Circular Std", "sans-serif";

$screen-size__phone: 375px;
$content-align-center: 0 auto;

@mixin square($size, $border-radius: none) {
  width: $size;
  height: $size;

  @if ($border-radius != none) {
    border-radius: $border-radius;
  }
}
