@import "styles/variables.scss";

.search {
  margin-left: 16px;
  margin-bottom: 34px;

  display: flex;

  &_line {
    margin-right: 16px;

    width: 269px;
    height: 40px;

    background: $white-color;
    border: 1px solid #dfe2e4;
    border-radius: 4px;

    display: flex;
    align-items: center;

    &_submit {
      margin-left: 8px;
      margin-right: 12px;

      width: 16px;
      height: 16px;
    }

    &_input {
      padding: 0px 2px;

      height: 40px;
      width: 229px;

      font-family: $main-font-family;
    }
  }

  &_cancel{
    color: #343A40;
  }
}

@media screen and (max-width: 365px) {
  .search {
    &_line {
      width: 210px;
      &_input {
        width: 170px;
      }
    }
  }
}