@import "@styles/variables.scss";
@import "@assets/fonts/CircularStd/CircularStd.css";

.App{
    background: #F8F9FA;

    max-width: $screen-size__phone;

    margin: $content-align-center;
}

.positive{
    color: #21BF73;
}

.negative{
    color: #D90429;
}

.neutral{
    color: #6C757D;
}