@import "styles/variables.scss";
@import "assets/fonts/CircularStd/CircularStd.css";

.App {
  background: #f8f9fa;

  width: 100%;

  max-width: $screen-size__phone;

  margin: $content-align-center;
}

body {
  margin: 0;
}

.positive {
  color: #21bf73;
}

.negative {
  color: #d90429;
}

.neutral {
  color: #6c757d;
}
