.item{
    display: flex;
    align-items: center;
}

.item__avatar{
    width: 40px;
    height:40px;
    border-radius: 50%;
    margin-right: 24px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item__login {
    color: red;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
}